/* remove the edges from the body */
body {
    margin: 0;
    padding: 0;

    /* enable display: flex to center the calculator */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* set the styling for the calculator body */
#calculatorBody {
    /* set the dimension */
    height: 35rem;
    width: 25rem;

    /* sort the elements with flex */
    display: flex;
    flex-direction: column;
    
    /* for visualizing the container size and coloring*/
    background-color: black;
    border: solid 10px rgb(74, 72, 72);
    border-radius: 5px;
}

#displayContainer {
    height: 7rem;

    /* center the result paragraph container and align left */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* for visualizing the container size */
    background-color: rgb(178, 178, 178);
    border: solid 5px black;
}

/* settings for the result values inside the display container */
#resultValues {
    font-size: 75px;
    margin: 0 5px 0 5px;
}

/* styling of the keypad and each button */
#keypadContainer {
    display: flex;
    flex-wrap: wrap;

    /* stretch this container to 100% available space */
    height: 100%;
    
    /* remove the blank spaces between the button created by the browser */
    font-size: 0;
}

/* set size of each button, font size & other styles */
.btn {
    /* add a border for each button and a radius */
    background-color: #267365;
    border-radius: 5px;
    margin: 0;
    
    /* font sizing */
    font-size: 35px;
    
    /* size */
    width: calc(100% / 4);
    height: calc(100% / 5);
}

/* set the styling for the first row buttons ( AC, +/-, %, / ) */
.firstRowBtn {
    background-color: #F29F05;
}

.operator, .evaluate {background-color: #F23030;}

/* set for the zero key the flex property */
.btn.zero {
    flex-grow: 1;
}