/* remove the edges from the body */
body {
    margin: 0;
    padding: 0;

    /* enable display: flex to center the calculator */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculatorBody {
    height: 35rem;
    width: 25rem;

    display: flex;
    flex-direction: column;
    
    /* for visualizing the container size */
    border: solid 10px black;
    border-radius: 5px;
}

#displayContainer {
    height: 7rem;

    /* center the result paragraph container and align left */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* for visualizing the container size */
    background-color: gray;
    border: solid 5px rgb(74, 72, 72);
}

/* settings for the result values inside the display container */
#resultValues {
    font-size: 75px;
    margin: 0 5px 0 5px;
}

/* styling of the keypad and each button */
#keypadContainer {
    display: flex;
    flex-wrap: wrap;

    /* stretch this container to 100% available space */
    height: 100%;
    
    /* remove the blank spaces between the button created by the browser */
    font-size: 0;
}

/* set size of each button and font size */
.btn {
    /* font sizing */
    font-size: 35px;
    
    /* size */
    width: calc(100% / 4);
    height: calc(100% / 5);
}

/* set for the zero key the flex property */
.btn.zero {
    flex-grow: 1;
}